/* Give your page a fun background color */
body {
	background-image: url("https://i.stack.imgur.com/IehB7.png");
	text-align: center;
}

/* Make the header and footer a different color from the background */
header,
footer {
	background-color: rgb(117, 112, 112);
	color: white;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
	text-align: center;
}

/* Make your p tag a different color and italic */
p {
	color: white;
}

/* Put a border around your image */

/* Change the font-family of your list */
ul {
	background: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	list-style-type: square;
	list-style-position: inside;
}
